$white: #fff;

$normal: #a9aaa1;
$poison: #a56a9a;
$psychic: #e374a2;
$grass: #79b160;
$ground: #ceb362;
$ice: #7ac9e9;
$fire: #e7634f;
$rock: #b6a771;
$dragon: #827cdd;
$water: #4a9beb;
$bug: #acb14b;
$dark: #876b5a;
$fighting: #9e624e;
$ghost: #7876bd;
$steel: #adaebd;
$flying: #6e99e5;
$electric: #eac353;
$fairy: #dba6d7;
